build:
  except:
    - tags
  variables:
    TOKEN: "LtiBS-yyViykX69rtq1Q" # MAKE YOUR OWN TOKEN
    VERSION: "0.10.0.$CI_JOB_ID"
    SPECKLE_GEOMETRY_KIT: "https://ci.appveyor.com/api/buildjobs/su30e3sovklimpr2/artifacts/SpeckleCoreGeometry.zip"
    SPECKLE_STRUCTURAL_KIT: "https://ci.appveyor.com/api/buildjobs/0q6e27mbo4wn0yba/artifacts/SpeckleStructural-1.0.5.19.zip"
    SPECKLE_GSA: "https://gitlab.arup.com/api/v4/projects/speckle%2FSpeckleGSA/jobs/artifacts/master/download?job=build"
    RELEASE: "https://gitlab.arup.com/api/v4/projects/speckle%2Fspecklestructuralsuite-installer/releases"
    ARTIFACT_LINK: "https://gitlab.arup.com/api/v4/projects/speckle%2Fspecklestructuralsuite-installer/jobs/$CI_JOB_ID/artifacts/SpeckleStructuralSuite.exe"
  stage: build
  script:
  # Setup environment
  - New-Item -ItemType directory -Path "$env:CI_PROJECT_DIR\Artifacts"
  - Invoke-Expression "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12"
  # Download SpeckleGSA
  - Invoke-WebRequest -Uri "$env:SPECKLE_GSA" -OutFile "$env:CI_PROJECT_DIR\Artifacts\_SpeckleGSA.zip" -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"}
  - 7z x -o"$env:CI_PROJECT_DIR\Artifacts" "$env:CI_PROJECT_DIR\Artifacts\_SpeckleGSA.zip" -r -aoa
  - New-Item -ItemType directory -Path "$env:CI_PROJECT_DIR\SpeckleGSA"
  - 7z x -o"$env:CI_PROJECT_DIR\SpeckleGSA" "$env:CI_PROJECT_DIR\Artifacts\SpeckleGSA-*.zip" -r -aoa
  # Download SpeckleCoreGeometry
  - Invoke-WebRequest -Uri "$env:SPECKLE_GEOMETRY_KIT" -OutFile "$env:CI_PROJECT_DIR\Artifacts\SpeckleCoreGeometry.zip"
  - 7z x -o"$env:CI_PROJECT_DIR\SpeckleCoreGeometry" "$env:CI_PROJECT_DIR\Artifacts\SpeckleCoreGeometry.zip" -r -aoa
  # Download SpeckleStructural
  - Invoke-WebRequest -Uri "$env:SPECKLE_STRUCTURAL_KIT" -OutFile "$env:CI_PROJECT_DIR\Artifacts\SpeckleStructural.zip" 
  - 7z x -o"$env:CI_PROJECT_DIR\SpeckleStructural" "$env:CI_PROJECT_DIR\Artifacts\SpeckleStructural.zip" -r -aoa
  # Excecute Inno
  - iscc /dAppVersion="$env:VERSION" SpeckleStructuralSuiteInstaller.iss
  # Upload release
  - Invoke-WebRequest -Uri "$env:RELEASE" -Method POST -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"} -Body @{name = "SpeckleStructuralSuite"; tag_name = "$env:VERSION"; description = "Latest release"; ref = "$env:CI_COMMIT_SHA";}
  - Invoke-WebRequest -Uri "$env:RELEASE/$env:VERSION/assets/links" -Method POST -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"} -Body @{name = "SpeckleStructuralSuite"; url = "$env:ARTIFACT_LINK";}
  artifacts:
    name: "SpeckleStructuralSuite"
    paths:
    - "SpeckleStructuralSuite.exe"
    expire_in: 6 mos