build:
  variables:
    TOKEN: "LtiBS-yyViykX69rtq1Q" # MAKE YOUR OWN TOKEN
    VERSION: "0.9.0.$CI_JOB_ID"
    SPECKLE_STRUCTURES: "https://gitlab.arup.com/api/v4/projects/speckle%2FSpeckleStructures/jobs/artifacts/master/download?job=build"
    SPECKLE_GSA: "https://gitlab.arup.com/api/v4/projects/speckle%2FSpeckleGSA/jobs/artifacts/master/download?job=build"
    SPECKLE_ETABS: "https://gitlab.arup.com/api/v4/projects/speckle%2FSpeckleETABS/jobs/artifacts/master/download?job=build"
    RELEASE: "https://gitlab.arup.com/api/v4/projects/speckle%2Fspecklestructuralsuite-installer/releases"
    ARTIFACT_LINK: "https://gitlab.arup.com/api/v4/projects/speckle%2Fspecklestructuralsuite-installer/jobs/$CI_JOB_ID/artifacts/SpeckleStructuralSuite.exe"
  stage: build
  script:
  # Setup environment
  - New-Item -ItemType directory -Path "$env:CI_PROJECT_DIR\Artifacts"
  - Invoke-Expression "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12"
  # Download SpeckleStructures
  - Invoke-WebRequest -Uri "$env:SPECKLE_STRUCTURES" -OutFile "$env:CI_PROJECT_DIR\Artifacts\_SpeckleStructures.zip" -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"}
  - 7z x -o"$env:CI_PROJECT_DIR\Artifacts" "$env:CI_PROJECT_DIR\Artifacts\_SpeckleStructures.zip" -r -aoa
  - New-Item -ItemType directory -Path "$env:CI_PROJECT_DIR\SpeckleStructures"
  - 7z x -o"$env:CI_PROJECT_DIR\SpeckleStructures" "$env:CI_PROJECT_DIR\Artifacts\SpeckleStructures-*.zip" -r -aoa
  # Download SpeckleGSA
  - Invoke-WebRequest -Uri "$env:SPECKLE_GSA" -OutFile "$env:CI_PROJECT_DIR\Artifacts\_SpeckleGSA.zip" -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"}
  - 7z x -o"$env:CI_PROJECT_DIR\Artifacts" "$env:CI_PROJECT_DIR\Artifacts\_SpeckleGSA.zip" -r -aoa
  - New-Item -ItemType directory -Path "$env:CI_PROJECT_DIR\SpeckleGSA"
  - 7z x -o"$env:CI_PROJECT_DIR\SpeckleGSA" "$env:CI_PROJECT_DIR\Artifacts\SpeckleGSA-*.zip" -r -aoa
  # Download SpeckleETABS
  - Invoke-WebRequest -Uri "$env:SPECKLE_ETABS" -OutFile "$env:CI_PROJECT_DIR\Artifacts\_SpeckleETABS.zip" -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"}
  - 7z x -o"$env:CI_PROJECT_DIR\Artifacts" "$env:CI_PROJECT_DIR\Artifacts\_SpeckleETABS.zip" -r -aoa
  - New-Item -ItemType directory -Path "$env:CI_PROJECT_DIR\SpeckleETABS"
  - 7z x -o"$env:CI_PROJECT_DIR\SpeckleETABS" "$env:CI_PROJECT_DIR\Artifacts\SpeckleETABS-*.zip" -r -aoa
  # Excecute Inno
  - iscc /dAppVersion="$env:VERSION" SpeckleStructuralSuiteInstaller.iss
  # Upload release
  - Invoke-WebRequest -Uri "$env:RELEASE" -Method POST -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"} -Body @{name = "SpeckleStructuralSuite"; tag_name = "$env:VERSION"; description = "Latest release";}
  - Invoke-WebRequest -Uri "$env:RELEASE/$env:VERSION/assets/links" -Method POST -Headers @{"PRIVATE-TOKEN" = "$env:TOKEN"} -Body @{name = "SpeckleStructuralSuite"; url = "ARTIFACT_LINK";}
  artifacts:
    name: "SpeckleStructuralSuite"
    paths:
    - "SpeckleStructuralSuite.exe"
    expire_in: 6 mos